<ow-tabs [activeId]="activeTabId()" (activeIdChange)="onTabChange($event)">
  <ow-tab id="sobre" label="Sobre">
    <div class="text-base">
      @defer (hydrate on viewport) {
        <app-quem-e-nova-era-sobre />
      } @placeholder {
        <div class="min-h-[60vh]"></div>
      }
    </div>
  </ow-tab>

  <ow-tab id="como-funciona" label="Como Funciona">
    <div class="text-base">
      @defer (hydrate on viewport) {
        <app-como-funciona />
      } @placeholder {
        <div class="min-h-[60vh]"></div>
      }
    </div>
  </ow-tab>

  <ow-tab id="regras" label="Regras">
    <div class="text-base">
      @defer (hydrate on viewport) {
        <app-regras />
      } @placeholder {
        <div class="min-h-[60vh]"></div>
      }
    </div>
  </ow-tab>
</ow-tabs>
