<section class="my-16">
  <div class="flex flex-col justify-center text-center">
    <h1 class="text-5xl font-bold leading-none sm:text-6xl text-center">
      1º Nova Era
    </h1>
  </div>

  <div class="flex justify-center content-end">
    <app-podium></app-podium>
  </div>

  <div class="grid grid-cols-3 grid-rows-1 gap-8">
    <div class="flex flex-col col-span-2">
      <div class="grid grid-cols-1 grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of bigFinal().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Grande final
        </span>
      </div>
    </div>

    <div class="flex flex-col col-start-3">
      <div class="grid grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of thirdPlace().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Disputa pelo 3º Lugar
        </span>
      </div>
    </div>
  </div>

  <!-- Finais -->
  <div class="grid grid-cols-2 gap-8">
    <div class="flex flex-col">
      <div class="grid grid-cols-1 grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of winnersBracketFinals().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Chave dos vencedores
        </span>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="grid grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of losersBracketFinals().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Chave dos eliminados
        </span>
      </div>
    </div>
  </div>
  <div class="text-center border-t-2 border-[#f06314]">
    <span class="inline-block m-auto border-t-2 border-[#f06314]">
      Finais
    </span>
  </div>

  <!-- Semi finais -->
  <div class="grid grid-cols-2 gap-8">
    <!-- Chave dos vencedores -->
    <div class="flex flex-col">
      <div class="grid grid-cols-2 grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of winnersBracketSemiFinals().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Chave dos vencedores
        </span>
      </div>
    </div>

    <!-- Chave dos perdedores -->
    <div class="flex flex-col">
      <div class="grid grid-cols-2 grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
        @for (match of losersBracketSemiFinals().matches; track $index) {
          <div>
            <app-torneio-item [match]="match" />
          </div>
        }
      </div>

      <div class="text-center">
        <span class="inline-block m-auto border-t-2 border-[#f06314]">
          Chave dos eliminados
        </span>
      </div>
    </div>
  </div>
  <div class="text-center border-t-2 border-[#f06314]">
    <span class="inline-block m-auto border-t-2 border-[#f06314]">
      Semi finais
    </span>
  </div>

  <!-- Quartas -->
  <div class="flex flex-col">
    <div class="grid grid-cols-4 grid-rows-1 gap-4 mt-8 border-b-2 border-[#f06314]">
      @for (match of quartas().matches; track $index) {
        <div>
          <app-torneio-item [match]="match" />
        </div>
      }
    </div>

    <div class="text-center">
      <span class="inline-block m-auto border-t-2 border-[#f06314]">
        Quartas
      </span>
    </div>
  </div>
</section>

