<section class="my-8">

  <div class="text-center">
    <h2
      class="relative mb-[30px] pb-[15px] text-[1.8rem] font-black uppercase tracking-[0.08em] text-(--ow-gray-900) md:text-[2.5rem] after:absolute after:bottom-0 after:left-1/2 after:block after:h-1 after:w-20 after:-translate-x-1/2 after:bg-(--ow-orange) after:content-[''] after:[clip-path:polygon(10%_0,90%_0,100%_100%,0_100%)]"
    >
      Nova Era Primeira Edição
    </h2>
  </div>

  <app-podium />

  <div class="mt-10">
    <app-double-elimination [bracket]="bracket()" [teams]="teams()" />
  </div>

</section>
