<!--
  Obrigado moço: https://codepen.io/seanDars/pen/ExMpOyR
-->
<div class="flex h-64 items-end justify-center">
  <!-- SILVER -->
  <div class="relative ml-1.75 w-25 h-32.5 rounded-[10px] bg-gray-500">
    <div class="absolute left-1/2 -translate-x-1/2 bottom-full w-17.5 h-12.5 rounded-[5px] bg-zinc-300 podium-bounce podium-delay-0 flex items-center justify-center">Time 8</div>
  </div>

  <!-- GOLD -->
  <div class="relative ml-1.75 w-25 h-40 rounded-[10px] bg-gray-500">
    <div class="absolute left-1/2 -translate-x-1/2 bottom-full w-17.5 h-12.5 rounded-[5px] bg-yellow-400 podium-bounce podium-delay-300 flex items-center justify-center">Time 6</div>
  </div>

  <!-- BRONZE -->
  <div class="relative ml-1.75 w-25 h-25 rounded-[10px] bg-gray-500">
    <div class="absolute left-1/2 -translate-x-1/2 bottom-full w-17.5 h-12.5 rounded-[5px] bg-amber-700 podium-bounce podium-delay-700 flex items-center justify-center">Time 3</div>
  </div>
</div>
