@keyframes podiumBounce {
  0% { bottom: 100%; height: 45px; }
  50% { height: 50px; }
  100% { bottom: 107%; height: 50px; }
}

.podium-bounce {
  animation: podiumBounce 0.25s infinite alternate;
}

.podium-delay-0 { animation-delay: 0s; }
.podium-delay-300 { animation-delay: 0.3s; }
.podium-delay-700 { animation-delay: 0.7s; }
