<section class="flex flex-col justify-between gap-4 my-8">
  <div>
    <h1 class="text-4xl font-black leading-tight text-(--ow-gray-900) lg:text-5xl">
      Ferramentas para stremers
    </h1>
    <p class="text-(--ow-gray-500)">
      Sorteios, Coin-flip, Veto de Mapas e Banimento de Heróis
    </p>
  </div>

  <div class="grid grid-cols-3 grid-rows-1 gap-4">
    <div>
      <ow-card [padded]="false">
        <a class="block bg-[radial-gradient(circle_at_right,#CBCED4_0%,#CDCFD5_20%,#939FAD_100%)]" routerLink="/watchpoint/ferramentas-de-streamer/roleta">
          <div
            class="bg-[url('/imgs/presskit/busto-lucio-sem-fundo.webp')] bg-no-repeat bg-contain bg-bottom-right min-h-40 w-full relative grid items-center saturate-0 hover:saturate-100 transition-[filter] duration-300 ease-out">
            <span class="block text-4xl p-4 font-extrabold italic w-40">Sorteio</span>
          </div>
        </a>
      </ow-card>
    </div>
    <div>
      <ow-card [padded]="false">
        <a class="block bg-[radial-gradient(circle_at_right,#CBCED4_0%,#CDCFD5_20%,#939FAD_100%)]" routerLink="/watchpoint/ferramentas-de-streamer/veto-de-mapas">
          <div
            class="bg-[url('/imgs/presskit/busto-widowmaker-sem-fundo.webp')] bg-no-repeat bg-contain bg-bottom-right min-h-40 w-full relative grid items-center saturate-0 hover:saturate-100 transition-[filter] duration-300 ease-out">
            <span class="block text-4xl p-4 font-extrabold italic w-40">Veto de Mapas</span>
          </div>
        </a>
      </ow-card>
    </div>
    <div>
      <ow-card [padded]="false">
        <a class="block bg-[radial-gradient(circle_at_right,#CBCED4_0%,#CDCFD5_20%,#939FAD_100%)]" routerLink="/watchpoint/ferramentas-de-streamer/banimento-de-herois">
          <div
            class="bg-[url('/imgs/presskit/busto-tracer-sem-fundo.webp')] bg-no-repeat bg-contain bg-bottom-right min-h-40 w-full relative grid items-center saturate-0 hover:saturate-100 transition-[filter] duration-300 ease-out">
            <span class="block text-4xl p-4 font-extrabold italic w-44">Banimento de Heróis</span>
          </div>
        </a>
      </ow-card>
    </div>
  </div>
  <div class="block">
    <ow-card [padded]="false">
      <!-- <div class="grid place-items-center min-h-80 bg-linear-to-r from-[#939FAD] via-[#CDCFD5] to-[#CBCED4]"> -->
      <div class="grid place-items-center min-h-96 bg-[radial-gradient(circle,#CBCED4_0%,#CDCFD5_20%,#939FAD_100%)]">
        <ow-coin-flip />
      </div>
    </ow-card>
  </div>
</section>
